node_modules
dist
.angular
.git
.gitignore
*.md
.editorconfig
.vscode
coverage
.env
.env.*
npm-debug.log
npm-error.log
.DS_Store
tests
specs
karma.conf.js
*.spec.ts
src/assets/mock-data
Dockerfile*
docker-compose*
.github
*.log
.idea
*.swp
*.swo
*~
Thumbs.db
