
[defaults]
inventory = inventory/dev.ini

roles_path = roles

host_key_checking = False
retry_files_enabled = False
forks = 50
timeout = 30

remote_user = ubuntu
interpreter_python = auto_silent

gather_facts = True

# Fact caching
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
fact_caching_timeout = 86400

# Output & Logging
stdout_callback = yaml
callbacks_enabled = profile_tasks, timer
log_path = /var/log/ansible_bonicare.log

deprecation_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o PreferredAuthentications=publickey
retries = 3

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False