__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.git
.gitignore
.env
.env.*
.DS_Store
.vscode
.idea
models/__pycache__
.pytest_cache
.ipynb_checkpoints
tests
specs
Dockerfile*
docker-compose*
.github
.mypy_cache
.hypothesis
dist
build
*.egg-info
pytest.ini
setup.py
setup.cfg
*.log
*.swp
*.swo
*~
Thumbs.db
README.md
LICENSE
CONTRIBUTING.md
docs
